body {
    background-color: white;
	background-image: url("./images/Forests_Roads_From_above_Trees_527799_2048x1532.jpg");
    font-family: 'Lato', sans-serif;
}

ul {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: rgba(63, 63, 63, 0.63);
}
li {
	float: left;
}
  
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
  
li a:hover:not(.active) {
	background-color: #acacacad;
}
  
.active {
	background-color: rgba(255, 255, 255, 0.322);
}

.yo{
	position: absolute;
  	top: 210px;
  	left: 550px;
  	width: 250px;
  	height: 340px;
}

p{
	position: absolute;
	top: 210px;
	left: 850px;
	width: 350px;
	color: white;;
	padding: 7px;
}
.p3{
	position: absolute;
	top: 1700px;
	left: 850px;
	width: 350px;
	color: white;
	padding: 7px;	
}

.mid {
	position: absolute;
	top: 200px;
	left: 540px;
	right: 340px;
	width: 900px; 
	height: 360px; 
	border:none;
	background: rgba(63, 63, 63, 0.63);
}

.instagram{
	position: absolute;
  	top: 280px;
  	width: 30px;
  	height: 30px;
}
.linkdn{
	position: absolute;
  	top: 280px;
	left: 40px;
  	width: 30px;
  	height: 30px;
}
.facebook{
	position: absolute;
  	top: 280px;
	left: 80px;
  	width: 30px;
  	height: 30px;
}
.twitter{
	position: absolute;
  	top: 280px;
	left: 120px;
  	width: 30px;
  	height: 30px;
}
.git{
	position: absolute;
  	top: 280px;
	left: 160px;
  	width: 30px;
  	height: 30px;
}

.mid2 {
	position: absolute;
	top: 600px;
	left: 540px;
	right: 340px;
	width: 430px; 
	height: 280px; 
	border: none;
	background: rgba(63, 63, 63, 0.63);
}
.p4{
	position: absolute;
	top: 590px;
	left: 550px;
	width: 350px;
	color: white;
}

.mid3 {
	position: absolute;
	top: 600px;
	left: 1010px;
	right: 340px;
	width: 430px; 
	height: 360px; 
	border: none;
	background: rgba(63, 63, 63, 0.63);
}
.p5{
	position: absolute;
	top: 590px;
	left: 1010px;
	width: 350px;
	color: white;
}
.mid4 {
	position: absolute;
	top: 930px;
	left: 540px;
	right: 340px;
	width: 430px; 
	height: 430px; 
	border: none;
	background: rgba(63, 63, 63, 0.63);
}
.p6{
	position: absolute;
	top: 920px;
	left: 550px;
	width: 350px;
	color: white;
}
.mid5 {
	position: absolute;
	top: 1000px;
	left: 1010px;
	right: 340px;
	width: 430px; 
	height: 360px; 
	border: none;
	background: rgba(63, 63, 63, 0.63);
}
.p7{
	position: absolute;
	top: 990px;
	left: 1010px;
	width: 350px;
	color: white;
}

.contact{
	position: absolute;
	top: 1445px;
	left: 690px;
	width: 350px;
	color: white;
	padding: 7px;	
	font-size: 20px;
}

.name{
	position: absolute;
	top: 1500px;
	left: 700px;
	width: 250px;
}
.surname{
	position: absolute;
	top: 1500px;
	left: 980px;
	width: 250px;
}
.em{
	position: absolute;
	top: 1530px;
	left: 700px;
	width: 530px;
}
.comments{
	position: absolute;
	top: 1560px;
	left: 700px;
	width: 530px;
}
.but{
	position: absolute;
	top: 1630px;
	left: 700px;
	width: 537px;
}